<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>appleId</key>
	<string>734871221@qq.com</string>
	<key>artistId</key>
	<integer>591591503</integer>
	<key>artistName</key>
	<string>杭州银行</string>
	<key>bundleDisplayName</key>
	<string>杭州银行</string>
	<key>bundleShortVersionString</key>
	<string>2.5.0</string>
	<key>bundleVersion</key>
	<string>2.5.0.2</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountStoreFront</key>
			<string>143465-19,32</string>
			<key>AppleID</key>
			<string>734871221@qq.com</string>
			<key>DSPersonID</key>
			<integer>8409745389</integer>
			<key>DownloaderID</key>
			<integer>0</integer>
			<key>FamilyID</key>
			<integer>0</integer>
			<key>FirstName</key>
			<string>湍</string>
			<key>LastName</key>
			<string>肖</string>
			<key>PurchaserID</key>
			<integer>8409745389</integer>
			<key>UserName</key>
			<string>肖湍</string>
		</dict>
		<key>purchaseDate</key>
		<string>2017-09-01T09:59:27Z</string>
	</dict>
	<key>copyright</key>
	<string>© Bank of HangZhou Corp.Ltd.</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>财务</string>
	<key>genreId</key>
	<integer>6015</integer>
	<key>itemId</key>
	<integer>791481051</integer>
	<key>itemName</key>
	<string>杭州银行企业版</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>杭州银行</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2017-09-01T09:59:27Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.UNRESTRICTED_WEB_ACCESS and Advisory.NO.GAMBLING_CONTESTS</string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2014-01-19T00:30:26Z</string>
	<key>s</key>
	<integer>143465</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a214.phobos.apple.com/us/r30/Purple71/v4/b4/c6/2e/b4c62e40-d055-f1dd-6fd3-a62c5a3417ab/icon114x114.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>4</integer>
		<integer>9</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.hzbank.hzbank.ent</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>820032982</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>283042649</integer>
		<integer>329682723</integer>
		<integer>593455934</integer>
		<integer>723382670</integer>
		<integer>736952697</integer>
		<integer>811449779</integer>
		<integer>813187293</integer>
		<integer>813278925</integer>
		<integer>816114569</integer>
		<integer>816186481</integer>
		<integer>816338620</integer>
		<integer>816922257</integer>
		<integer>817083745</integer>
		<integer>818867178</integer>
		<integer>820032982</integer>
	</array>
	<key>storeCohort</key>
	<string>7|date=1504258200000&amp;sf=143465&amp;pgtp=Software&amp;pgid=791481051&amp;prpg=Search_09b82a7e-7a29-4270-9838-041e3cf27563&amp;ctxt=App%20Store</string>
	<key>userName</key>
	<string>肖湍</string>
	<key>vendorId</key>
	<integer>1642760</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
